body{
    background: url(best.png),#03fc9d;
        background-attachment: fixed;
}

#message{
position: fixed;
width: 100vh;
height: 10vh;
bottom: 5px;
transform: translateX(63%);
background: #fff;
border-radius: 40px;
margin-left: 10px;
text-align: center;
font-size: 5vh;
}
section{
  background-color: #0580a5;max-height:10vh; margin-top: 5px;border-radius: 10px;
  display: inline-flex;
  padding: 10px;
}
span{
    background-color: #fff;
    border-radius: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 12.5vh;
    height: 12.5vh;
    i{
        color: #21a37a;
    }
    #c{
      transform: translate(25%,30%);
    }
}
#a{
  display: block;
}
#b{
  display: none;
}
.new{
    
      color: #fff;
      
}

button{
  border: transparent;
}
#ww{
    .login_container{
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .login_box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url('../th.jpg');
        background-size: cover;
        border-radius: 0;
        box-shadow: 0 15px 20px #13ffff;
        width: 70%;
        height: 70%;
        
        
        
      }
      .login_box h2 {
        margin: 0 0 30px;
        letter-spacing: 4px ;
        text-transform: uppercase;
        padding: 0;
        color: #fff;
        text-align: left;
        margin:10px 20px;
      }
      .login_box .user_box{
        position: relative;
        padding: 5-0px 50px ;
        margin: 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .login_box .user_box input{
        width: 100%;
        padding: 10px 0;
        font-size: 16px ;
        color: #fff;
        margin-bottom: 30px ;
        border: none ;
        border-bottom: 1px solid #fff;
        outline:none;
        background-color: transparent;
      }
      .login_box .user_box label{
        position: absolute;
        margin-left: 50px;
        top: 0;
        left: 0;
        padding: 10px 0 ;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
      .login_box .user_box input:focus~label,
      .login_box .user_box input:valid~label{
        top: -20px;
        color: #13ffff;
        font-size: 12px;
      }
      .login_box form .a{
        background-color: #13ffff;
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
       transition:1s all;
       margin-top: 20px;
       letter-spacing: 4px;
       background-color:#13ffff;
       border: 1px solid #13ffff;
       position: absolute;
       bottom: 6%;
       left: 60%;
      }
      
      .login_box form .a:hover{
        background-color: #13ffff;
        color: #fff;
        box-shadow: 0 0 5px #13ffff,
                    0 0 5px #13ffff,
                    0 0 5px #13ffff,
                    0 0 5px #13ffff;
        
      }             
      
      }
      #messages{
        margin-bottom: 10vh;
          h1{
              font-size: 0.9rem;
              color: #13ffff;
              line-height: 10px;
          }
          h2{
              font-size: 2rem;
              color: #fff;
              margin-bottom: 10vh;
              line-height: 10px;
          }
          .hii{
            background-color: #000000;
            display: inline block;
            width: auto;
          }
          h3{
            padding: 10px;
            color: #055888;
          }
button{
  background-color: transparent;

}
            
      }
      /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#myBtn{
  border: none;
  background-color: transparent;
  color: #00f8ae;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  button{
    font-size: 60px;
    border: none;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float:top;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #13ffff;
  text-decoration: none;
  cursor: pointer;
}
      @media screen and (max-width: 480px){
        span{
          background-color: #fff;
          border-radius: 100%;
          position: fixed;
          bottom: 1%;
          right: 0;
          width: 8vh;
          height: 8vh;
          i{
              color: #21a37a;
              transform: translate(35%,37%);
          }
      }
      
      #a{
        display: none;
      }
      #b{
        display: block;
      }      
      #message{
        position: fixed;
        width: 40vh;
        height: 7vh;
        bottom: 10px;
        transform: translateX(0%);
        background: #fff;
        border-radius: 40px;
        margin-left: 10px;
        text-align: center;
        font-size: 3vh;
      }
      }
      @media screen and (max-height: 550px){
        span{
          background-color: #fff;
          border-radius: 100%;
          position: fixed;
          bottom: 2%;
          right: 2%;
          width: 10vh;
          height: 10vh;
          i{
              color: #21a37a;
              transform: translate(0%,24%);
          }
      }
      
      #a{
        display: none;
      }
      #b{
        display: block;
      }
      #message{
        position: fixed;
        width: 80vh;
        height: 9vh;
        bottom: 10px;
        transform: translateX(0%);
        background: #fff;
        border-radius: 40px;
        margin-left: 10px;
        text-align: center;
        font-size: 3vh;
      }
      }







      