* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  padding: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(NIght.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #171a31;
}

.Headder {
  display: block;
  width: 100%;
  height: 12vh;
  border-radius: 0px 0px 20px 20px;
  background: rgba(79, 103, 133, 0.64);
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 3;
}

.lc {
  width: 13vw;
  height: 13vh;
  margin-left: 1rem;
  background: url(lc.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.toggle {
  position: absolute;
  right: 20px;
  top: 2.5vh;
  width: 6vw;
  height: 8vh;
  background: url(toggle.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.msgbox {
  align-items: self-start;
  position: absolute;
  top: 20vh;
  left: 5vw;
}

.pfp1 {
  width: 3.5rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.8125rem;
  display: felx;
  margin: 6.25em 0 0 0;
}
.divPfpNMsg {
  display: inline-flex;
  width: 80vw;
}
.message {
  margin: 1em 0;
  width: fit-content;
  height: fit-content;
  border-radius: 1.125em 1.125em 1.125em 0em;
  background: rgba(7, 12, 27, 0.88);
  padding: 1.5em;
  display: inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  justify-content: space-between;
}
#messages {
  max-width: 80vh;
  padding: 2em;
}
#messages h1 {
  font-size: 1.25em;
  color: #5d6984;
}
#messages h2 {
  font-size: 1.45em;
  color: #fff;
  line-height: 0.5em;
  margin-bottom: 2vh;
}

#messages h3 {
  font-size: 1em;
  color: #5d6984;
  float: right;
}

#messages button {
  background-color: transparent;
  border: none;
  color: #fff;
  float: right;
  padding-left: 2em;
}

.textBoxnight {
  width: 40vw;
  height: 10vh;
  padding: 1rem 3rem;
  text-align: center;
  color: #fff;
  font-size: 6vh;
  flex-shrink: 0;
  border-radius: 3rem 0rem 0rem 0rem;
  background: rgba(36, 56, 81, 0.64);
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  text-decoration: #fff;
}
input:focus {
  outline: none;
}
#sendMsg {
  background: url(send.svg);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;

  background-repeat: no-repeat;
  background-size: contain;
}
